html {
	background-color: black;
}

.heading {
	 
	 height: 100px;
	 width: 100%;
	 background-color: black;
	
}

.image {
	border: 10px white solid;
	width: 900px;
	height: 506px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("coverphoto.jpg");

}

.bloglink
{
	
	margin-top: 50px;
	margin-left: 00px;
	position: absolute;
	color: white;
	background: rgba(0, 0, 0, 0.6);
	font-family: Avenir;
	font-size: 50px;
	padding: 15px
}

.fblink
{
	
	margin-top: 170px;
	margin-left: 0px;
	position: absolute;
	color: white;
	background: rgba(0, 0, 0, 0.6);
	font-family: Avenir;
	font-size: 50px;
	padding: 15px;
}

a {
	color:white;
	text-decoration: none;
}