html {
	background-color: white;
}

.heading {
	 
	 height: 50px;
	 position: fixed;
	 width: 100%;
	 background-color: black;
	
}

.content {
	
	margin-top: 100px;
	background-color: white;
}

p {
	text-align: center;
}

