html {
	background-color: black;
}

.heading {
	 
	 height: 110px;
	 margin-top: -10px;
	 margin-left: -10px;
	 position: fixed;
	 width: 100%;
	 background-color: red;
	
}

.content {
	
	margin-top: 100px;
	margin-left: -10px;
	width: 100%;
	background-image: url("http://nicollequintero.github.io/blog-posts/images/coverphoto.jpg");
	position: fixed;
}

img {
	height: 25%;
}
