body {
	background: url("maze.png");
	background-repeat: no-repeat;
}

#car {

	margin-top: 0px;
	margin-left: 0px;
	display: inline-block;
	font-weight: bold;
	color: blue;
}


@media screen and (max-width: 700px) {


button {

height: 50px;
width: 50px;
z-index: 10;
}

body {
	background-size: 100%;
}

}