@charset "UTF-8";

/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    /*border:0;
    outline:0;*/
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}

  
/*
***********************************
BEGIN MY OWN CSS
***********************************
*/

* {
	border: 0px solid black;
}

article, aside, footer, header, main, nav, section {
	display: block;
}

body {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background: #F0F8FF;
}

main {
}

nav {
	float: left;
	width: 180px;
	font-family: 'Roboto Slab';
	font-size: 1.25em;
	color: black;
	text-align: right;
	padding: 10px;
	margin-top: 100px;
}

aside {
	float: left;
	width: 180px;
	padding: 10px;
	position: relative;
	height: 480px;
}

aside table {
	padding-top: 10px;
}

#buttons {
	position: absolute;
	text-align: center;
	top: 10%;
}

span {
	font-family: 'Oswald';
}

header {
	font-size: 2em;
	text-align: center;
	padding: 10px;
}

footer	{
	clear: both;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#startButtons {
	text-align: center;
	margin-bottom: 30px;
}

#easyButton, #mediumButton, #hardButton {
	border: 1px solid black;
	height: 50px;
	width: 150px;
	background-color: yellow;
	border: 2px solid black;
	color: black;
	font-size: 1.5em;
	border-radius: 10px;
	margin-top: 10px;
}

#navButtons table 	button {

	height: 50px;
	width: 50px;
	background-color: yellow;
	border: 2px solid black;
	color: black;
	font-size: 2em;
	border-radius: 10px;
}

aside table {
	width: 100%;
	text-align: center;
}



footer button {

	height: 25px;
	width: 300px;
	background-color: yellow;
	border: 2px solid black;
	color: black;
	font-size: 1em;
	border-radius: 10px;
	float: left;
}

#timer
{
	width: 150px;
	background-color: black;
	border-radius: 10px;
	color: red;
	font-size: 1em;
	text-align: center;
	padding: 5px;
	float: right;
	font-family: 'Roboto Slab';
}


#forest {
	
	width: 500px;
	height: 500px;
	background-color: blue;
	float: left;
	background-color: green;
	border: 0px solid black;
	font-size:100px;
	color:red;
	text-align: center;
	font-family: 'Oswald';
	background-image: url("grass.jpg");
	overflow: hidden;
	position: relative;
}

.anteater {
	background-image: url("anteater.png");
	position: absolute;
	position: absolute;
	height: 60px;
	width: 90px;
	visibility: hidden;
}

#honey {
	height: 90px;
	width: 90px;
	top:410px;
	left:410px;
	position: absolute;
	background-image: url("honey.png");
	z-index: 100;
}

#ant {
	color:red;
	position: absolute;
	height: 30px;
	width: 30px;
	background-image: url("ant.png");
	z-index: 10;
}




