/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
/*
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block; */
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/* 
******************************************************
BEGIN MY OWN CSS 
******************************************************
*/

html {
	background-color: #fdfbfb;
}

img {
	max-width: 100%;
}

.centeredimage, #authorimage{
	text-align: center;
}

.centeredimage {
	margin-bottom: 20px;
	margin-top: 20px;
}

#abouttext {
	font-family: "Roboto Slab";
	font-weight: normal;
	font-size: .875em;
	text-align: center;
	padding:3px;
	margin-top: 10px;
}

#recentpostsheader {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	font-family: "Oswald";
	font-size: 1em;
}

.bloglink, .selectedbloglink {
	font-family: "Roboto Slab";
	padding: 5px;
	text-align: center;
}

.selectedbloglink {
	background-color: #0ABFBC;
	color: white;
	font-size: .875em;
	border-radius: 20px;
}



.bloglink a {
	text-decoration: none;
	color: #29221F;
	font-size: .875em;
}

.bloglink a:hover {
	color: #0ABFBC;
}
.entrytitle {
	font-family: "Oswald";
	font-size: 2.1875em;
	font-weight: bold;
	padding-left: 30px;
	padding-bottom: .5em;
}

.entrytext {
	font-family: "Roboto Slab";
	font-size: 1em;
	padding-left: 30px;
}

.entryheading {
	font-family: "Oswald";
	font-size: 1.25em;
	padding-left: 30px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.entrydate {
	font-family: "Roboto Slab";
	font-size: .875em;
	padding-left: 30px;
	font-weight: bold;
	padding-bottom: .5em;
}

* {
	border: 0px solid black;
}

#clearfooter {
	height: 0px;
	clear: both;
}

footer {
	background-color: #29221F;
	color: white;
	font-family: "Roboto Slab";
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 20px;
	font-size: .875em;

}

#footerlinks {
	margin-right: auto;
	margin-left: auto;
	color: white;
	text-align: center;
}

#footerlinks th {
	font-weight: normal;
	color: gray;
	padding-bottom: 10px;
}

#footerlinks td {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#footerlinks a:visited {
	color: white;
}

#footerlinks a {
	color: white;
	text-decoration: none;
}

#container {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;

}

/* 
******************************************************
LARGER SCREENS
******************************************************
*/

/*@media screen and (min-width: 700px) {*/

body {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	color: #29221F;
} 

header {
	background-color: #0ABFBC;
	text-align: center;
	border-bottom: 1px solid #29221F;
	color: white;
}

.name {
	font-size: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-family: "Roboto Slab";
}

.byline {
	font-size: 3em;
	font-family: 'Oswald';
	padding-bottom: .75em;
}

#gamebutton {
	font-size: .875em;
	font-family: "Roboto Slab";
	color: white;
	background-color: #29221F;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	padding: .5em;
	border-radius: 20px;
	text-align: center;
}

#gamebutton a {
	color: white;
}

main {
	border-left: 7px solid #0ABFBC;
	width: 620px;
	float: right;
	line-height: 1.5em;


}

aside {
	width: 140px;
	float: left;
	
	
}
}


/* 
******************************************************
SMALLER SCREENS
******************************************************


@media screen and (max-width: 700px) { */
	

