
html {
	background-image: url("http://static.freepik.com/free-photo/subtle-fabric-texture--background_19-135531.jpg");
	
}

body {
	width = 70%;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

img {
	max-width: 100%;
}


.heading {
	 
	 border: 0px solid #3753bf;
	 width: 100%;
	 margin-right: auto;
	 margin-left: auto;
	 padding: 0px;
	 background-image: url("images/multicolor.png");
	 vertical-align: middle;
		
}

.logo {
	color: #e6dfd1;
	background: rgba(0, 0, 0, 0.5);
	font-family: fantasy;
	text-align: center;
}

/******** LARGE SCREEN *********/

@media screen and (min-width: 700px) {

.heading	{
	height: 100px;
	margin-top: 50px;
}

.logo {
	font-size: 4.06em;

}

.subheading {
	height: 35px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	background-color: gray;
	color: #e6dfd1;
	font-family: "Avenir";

}	

.socialmedia {
	float: right;
}

.subtitle {
	float: left;
	margin-top: 5px;
	margin-left: 5px;

}

.circleborder {
	height: 7px;
	width: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	border-radius: 100%;
	background-color: #52433f;
	display: inline-block;

}

.circlecontainer {
	height: 25px;
	width: 90.6%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	text-align: center;
	overflow: hidden;
}


.contentcontainer	
{
	width: 90.6%; /*906px*/
	max-width: 906px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

.content {
	width:77.26%; 
	max-width: 700px;
	background-color: #e6dfd1;
	padding-bottom: 30px;
	float: right;

}

.sidemenu {
	
	position: fixed;
	width: 22.07%;
	max-width: 200px;
	background-color: #cfc2bc;
	border: 3px double gray;
	float: left;
	/*margin-left: 700px; 700px*/
	
	
}
}

/******** END LARGE SCREEN *********/

.centeredimage, #authorimage {
	text-align: center;
}

.centeredimage, #authorimage img {
	border: 1px solid #52433f;
}

#abouttext {
	font-family: "Avenir";
	color: #000063;
	font-size: .75em;
	text-align: center;
	padding:3px;
}

.bloglink {
	font-family: "Avenir";
	color: white;
	padding: 5px;
	text-align: center;
}

a {
	color: white;
}

a:hover {
	background-color: #000063;
}



.entrytitle {
	font-family: "Avenir";
	font-size: 2.1875em;
	font-weight: bold;
	color: #000063;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 0px;
}

.entrytext {
	font-family: "Avenir";
	color: #000063;
	font-size: .875em;
	padding-left: 30px;
	margin-right: 30px;
}

.entryheading {
	font-family: "Avenir";
	color: #000063;
	font-size: 1.25em;
	padding-left: 30px;
	font-weight: bold;
}

.entrydate {
	font-family: "Avenir";
	color: #000063;
	font-size: .875em;
	padding-left: 30px;
	font-style: italic;
	font-weight: bold;
}

* {
	border: 0px solid black;
}


.footer {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	background-color: #ff7e3d;
	text-align: right;
	color: #e6dfd1;
	font-family: Avenir;
	font-size: .875em;
	padding-right: 3px;
	clear: both;
	margin-top: 100px;
}



#twitter {
	height: 5%;
}



/******** SMALLER SCREEN *********/

@media screen and (max-width: 700px) {
	
.socialmedia, .subheading, .subtitle, #abouttext, #authorimage, .circlecontainer, .circleborder {
	display: none;
}

.logo {
	font-size: 4em;

}

.contentcontainer	{
	margin-right: auto;
	margin-left: auto;
}

.sidemenu {
	background-color: #cfc2bc;
	border: 3px double gray;
}

.bloglink {
	padding: 0px;
	line-height: .5em;
}

.content {
	background-color: #e6dfd1;
	padding-bottom: 30px;
}

	
}